<h1><a href="#">International Experience</a></h1><br><br>
<p>
<span style="color:black; text-align:left; font-size:0.90em;">      
I have experience working in a variety of international settings:
  <span style="color:black; text-align:left; font-size:0.75em;">  
<br>
  Norwegian University of Science and Technology (NTNU), Trondheim, Norway. <br><i>PhD Research Fellow.</i><br>
  International Union for the Conservation of Nature (IUCN), Gland, Switzerland. <br><i>Green List Data Management Consultancy.</i><br>
    The Nature Conservancy China, Pudacuo National Park. Yunnan, China. <br><i>Park Translator</i>.<br><br>
  
  Conversational French and Chinese language skills.
  
  
  <br>
</p>
  
  
