<h1><a href="#">Shorebird Abundance in Interior Alaska</a></h1>
<h2>Modified PRISM Surveys<h2>
<p>Interior Alaska, USA, is the least+studied region in Alaska for breeding shorebirds because of challenging accessibility and expectations of low densities and abundances.
  We estimated lowland and upland shorebird population sizes on 370,420 ha of military lands in interior Alaska boreal forest from May–July 2016 and 2017. 
  We modied the Program for Regional and International Shorebird Monitoring(PRISM) protocol used elsewhere in Alaska and incorporated a probability+based sampling 
  design and dependent double+observer methods. Using Program MARK, estimated abundance and created occupancy maps. </p>
