<h1><br><br><a href="#">Lesser Yellowlegs Abundance and Occupancy Estimates in Interior Alaska</a></h1>
<h2>Shorebird of Conservation Concern<h2>
<p>Lesser Yellowlegs (Tringa flavipes) abundance has declined ~90% across North America since 1970.
Despite this dramatic decline, Lesser Yellowlegs are infrequently studied on their breeding grounds
and have never been studied in the boreal forest of Alaska where population size is uncertain. We
used a spatially balanced sampling design and surveyed 400 by 400 m plots in 2016 and 2017
respectively to (1) estimate abundance and habitat use of Lesser Yellowlegs breeding on military
lands in interior Alaska, and (2) test hypotheses about which habitat covariates best explain
variation in plot abundances and habitat use. </p>
