  
<h1><a href="#">Federal Agency Experience (USA)</a></h1><br>
<p>
<span style="color:black; text-align:left; font-size:0.90em;">      
I have experience working for a variety of different Federal Agencies and their wildlife programs: <br>
  <span style="color:black; text-align:left; font-size:0.75em;">  
- National Park Service, Lake Clark National Park and Preserve, Alaska. <br>Wildlife Biologist. <br>
- Center for Environmental Management of Military Lands, Fairbanks, Alaska. <br>Data Manager and Research Associate.<br>
- National Park Service, Katmai National Park, Alaska. <br>Park Ranger<br>
- U.S. Forest Service, Chugach National Forest, Alaska. <br>Wildlife Technician Student Conservation Association<br>
</p>
