  
<h1><a href="#">Federal Agency Experience (USA)</a></h1><br><br>
<p>
<span style="color:black; text-align:left; font-size:0.75em;">      
       
<br><br>I have experience working for a variety of different Federal Agencies and their wildlife programs: <br><br>
- National Park Service (Wildlife Biologist), <br>
- Center for Environmental Management of Military Lands (Data Manager and Research Associate),<br>
- National Park Service (Park Ranger),<br>
- U.S. Forest Service (Wildlife Technician Student Conservation Association)<br>
</p>
