<h1><a href="#">Spatial Population Synchrony</a></h1>
<h2>Trends Across Life History Characteristics & Taxa<h2>
<p>1.	Geographically distinct populations frequently fluctuate synchronously because of spatially autocorrelated environmental influences, dispersal, and trophic interactions.
Estimating spatial population synchrony and understanding mechanisms causing spatial population synchrony are important for understanding ecological and evolutionary processes such as extinction and metapopulation dynamics and has consequences for the spatial scale of conservation and management of populations. In particular, the relative contribution from environmental influences versus dispersal will have dramatic impacts on metapopulation viability. 
</p>
