<h1><br><a href="#">Protected Area Management</a></h1>
<h2>Effect of Protected Area Boundaries on Synchrony<h2>
<p><span style="color:black; text-align:left; font-size:0.85em;">          
<br>Undoubtedly, protected area boundary designation is contentious. However, the increased attention to not just creating protected areas but
  to updating the framework for protected area biodiversity evaluation
  successes provides biologists the opportunity to re-evaluate important metrics for designating size and boundaries of protected areas. Accounting for 
  spatial synchrony of populations of key species or species of conservation concern is not currently part of the scientific evaluation of sites, however
  we know that many aspects of effective conservation are dependent on the level of regional synchronization in species dynamics.
  Using available abundance data from within and outside of protected areas, I am investigating if there is a difference in the scaling 
  of population synchrony within a protected area vs outside or between protected populations and not. Understanding independence of dynamics 
  among populations can enhance our understanding of overall species vulnerability, and ultimately help to untangle the importance of local vs
  regional processes or long-distance dispersal in population management and protected area design consideration.
