<h1><a href="#">Select Presentations</a></h1>
<p>(* invited speaker)<br><br>
<span style="color:black; text-align:left; font-size:0.60em;">          
Martin, E.C., K.A. Jochum, C.F. Bagley & P.F. Doherty, Jr. 2020. Shorebird Abundance Estimate in Interior Alaska. Oral Presentation at: International Wader Study Group Conference. 2020 October 11. Digital.<br><br>
                      
Martin, E.C.*, 2019. Conservation Challenges: Perspectives of the United States and Europe. October 16, 2019. International School of Geneva. Coppet, Switzerland. Oral Presentation to Ecology High School course.<br><br>
                      
Martin, E.C.*, Jochum, K.A., C. Bagley, & P. F. Doherty, Jr. 2019. Shorebird Abundance Estimates on Military Lands in Interior Alaska. Oral Presentation at: Alaska Bird Conference. 2019 March 8; Fairbanks, Alaska.<br><br>
                      
Martin, E.C.*, Jochum, K.A., C. Bagley, & P. F. Doherty, Jr. 2017. Shorebird Use of Military Lands in Interior Alaska. Oral Presentation at: Alaska Shorebird Group Meeting. 2017 Dec 4; Anchorage, Alaska.<br><br>
           
Martin, E.C., Jochum, K.A., C. Bagley, & P. F. Doherty, Jr. 2017. Shorebird Use of Military Lands in Interior Alaska. Poster session presented at: The Wildlife Society National Conference. 2017 Sept 23-27; Albuquerque, New Mexico.<br><br>
           
    </p>
