<h1><a href="#">Publications</a></h1><br><br>
<p>
<span style="color:black; text-align:left; font-size:0.75em;">      
       
       <b>Martin, E.C.</b>, K.A. Jochum, C.F. Bagley & P.F. Doherty, Jr. 2021. Shorebird species of conservation concern breeds in interior Alaska in large numbers: Lesser Yellowlegs (Tringa flavipes) abundance and habitat use estimation. 
                      In review.<br><br>

          
          <b>Martin, E.C.</b>, K.A. Jochum, C.F. Bagley & P.F. Doherty, Jr. 2020. Shorebird Abundance Estimates in Interior Alaska. 
                      Journal of Wildlife Management 84(7): 1283-1295. [Read here][(https://doi.org/10.1002/jwmg.21913)

</p>
